@import "modal.css";

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 10px;
    background-image: url('../assets/splash.png');
    background-size: cover;


}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
   
.logo {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.search-input {
    outline: none;
    margin-top: 0.8em;
    height: 2em;
    width: 11em;
    font-size: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0em 0.1em 0.4em -0.1em;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.map {
    height: 70%;
}

.search-listings {
    width: 100%;
    height: 30%;
    overflow-y: auto;
    margin-top: 0.5em;
}

.listing {
    display: flex;
    width: 90%;
    height: 5rem;
    margin: auto;
    margin-bottom: 0.2em;
    border: .2em solid gray;
    font-size: 1.5em;
    border-radius: 0.2em;
    background-color: whitesmoke;
}

.listing:hover {
    background-color: papayawhip;
    border: 0.2em solid rgba(255, 123, 0);
}

.listing-image {
    width: 6rem;
    height: 5rem;
}

.listing-info {
    margin-left: 0.5em;
    flex: 1;
}

.listing-title {
    margin-top: 0.4em;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", 
    "Times New Roman", serif;
    font-weight: bold;
    letter-spacing: .13rem;
}

.listing-description {
    font-family: Georgia, Times, “Times New Roman”, serif;
    text-align: left;
}

.listing-arrow {
    font-family: 'Do Hyeon', sans-serif;
    height: 100%;
    font-size: 3rem;
    color: lightgrey;
    margin-right: .5rem;
    display: flex;
    align-items: center;
}

.listing-arrow:hover {
    color: black;
}

.info-window-title {
    font-weight: bold;
}

.info-window-image {
    width: 4em;
    height: 4em;
}

.description-visibility {
    visibility: hidden;
}


@media(min-width: 768px) {

    .search-input {
        width: 23em;
    }

    .map {
        height: 75%;
        border-radius: 0.5em;
        border: 0.3em solid lightgrey;
    }

    .search-listings {
        height: 85%;
        padding-top: 0.5em;
    }

    .listing {
        width: 95%;
        height: 8rem;
        margin-left: 0.7em;
        padding-right: 0.7em;
    }

    .listing-image {
        width: 8rem;
        height: 8rem;
    }

    .listing-arrow {
        font-size: 5rem;
        padding-left: 1rem;
        margin-right: 0;
    }

    .description-visibility {
        visibility: visible;
    }
}

@media(min-width: 1200px) {
    .main {
        flex-direction: row;
    }

    .map {
        margin-top: 1em;
        width: 50%;
        height: 90%;
        border-radius: .5rem;
    }

    .listing {
        width: 95%;
        height: 10rem;
    }

    .search-listings {
        width: 50%;
    }

    .listing-image {
        width: 10rem;
        height: 10rem;
    }
}